In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime

In [2]:
train = pd.read_csv('train.csv')

In [3]:
train.head(3)

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,backers_count,final_status
0,kkst1451568084,drawing for dollars,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,False,US,USD,1241333999,1241334017,1240600507,1240602723,3,1
1,kkst1474482071,Sponsor Dereck Blackburn (Lostwars) Artist in ...,"I, Dereck Blackburn will be taking upon an inc...",300.0,sponsor-dereck-blackburn-lostwars-artist-in-re...,False,US,USD,1242429000,1242432018,1240960224,1240975592,2,0
2,kkst183622197,Mr. Squiggles,So I saw darkpony's successfully funded drawin...,30.0,mr-squiggles,False,US,USD,1243027560,1243027818,1242163613,1242164398,0,0

In [4]:
train.describe(include='all')

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,backers_count,final_status
count,108129,108128,108121,1.081290e+05,108129,108129,108129,108129,1.081290e+05,1.081290e+05,1.081290e+05,1.081290e+05,108129.000000,108129.000000
unique,108129,107840,107378,NaN,108129,2,11,9,NaN,NaN,NaN,NaN,NaN,NaN
top,kkst211982757,New EP/Music Development,The Decentralized Dance Party was founded on t...,NaN,digiplate,False,US,USD,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,7,20,NaN,1,107806,92033,92033,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,3.672623e+04,NaN,NaN,NaN,NaN,1.380248e+09,1.380153e+09,1.374037e+09,1.377299e+09,123.516661,0.319627
std,NaN,NaN,NaN,9.719027e+05,NaN,NaN,NaN,NaN,4.270222e+07,4.266402e+07,4.272310e+07,4.294421e+07,1176.745162,0.466334
min,NaN,NaN,NaN,1.000000e-02,NaN,NaN,NaN,NaN,1.241334e+09,1.241334e+09,1.240335e+09,1.240603e+09,0.000000,0.000000
25%,NaN,NaN,NaN,2.000000e+03,NaN,NaN,NaN,NaN,1.346732e+09,1.346695e+09,1.340058e+09,1.343917e+09,2.000000,0.000000
50%,NaN,NaN,NaN,5.000000e+03,NaN,NaN,NaN,NaN,1.393628e+09,1.393567e+09,1.384445e+09,1.390870e+09,17.000000,0.000000
75%,NaN,NaN,NaN,1.300000e+04,NaN,NaN,NaN,NaN,1.415719e+09,1.415548e+09,1.409623e+09,1.412807e+09,65.000000,1.000000
max,NaN,NaN,NaN,1.000000e+08,NaN,NaN,NaN,NaN,1.433097e+09,1.433097e+09,1.432325e+09,1.432658e+09,219382.000000,1.000000

Only few records are missing from `name`(1 record) and `desc`(8 records) column , hence we should drop these rows.

In [7]:
null_name = train.loc[train.name.isnull(), :]
null_name.shape

null_desc = train.loc[train.desc.isnull(), :]
null_desc.shape

# dropping the null records for name and desc
train = train.loc[train.name.notnull(), :]
train = train.loc[train.desc.notnull(), :]

In [8]:
train.describe(include='all')

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,backers_count,final_status
count,108121,108121,108121,1.081210e+05,108121,108121,108121,108121,108121,108121,108121,108121,108121.000000,108121.000000
unique,108121,107835,107378,NaN,108121,2,11,9,2113,2121,2176,2179,NaN,NaN
top,kkst584387795,New EP/Music Development,The Decentralized Dance Party was founded on t...,NaN,days-gone-by-short-film-by-qub-graduate-students,False,US,USD,2014-08-08,2014-08-08,2014-07-08,2014-07-09,NaN,NaN
freq,1,7,20,NaN,1,107798,92025,92025,373,358,775,510,NaN,NaN
mean,NaN,NaN,NaN,3.671792e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.525652,0.319651
std,NaN,NaN,NaN,9.719342e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1176.788232,0.466344
min,NaN,NaN,NaN,1.000000e-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,2.000000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,0.000000
50%,NaN,NaN,NaN,5.000000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.000000,0.000000
75%,NaN,NaN,NaN,1.300000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.000000,1.000000
max,NaN,NaN,NaN,1.000000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,219382.000000,1.000000

In [6]:
# converting all the unix time stamp to human readable for analysis into another copy
unix_time_data = train.copy(deep=True)

train.loc[:, 'deadline'] = train.deadline.apply(lambda x:
        datetime.datetime.fromtimestamp(
        x).strftime('%Y-%m-%d'))
    
train.loc[:, 'state_changed_at'] = train.state_changed_at.apply(lambda x:
        datetime.datetime.fromtimestamp(
        x).strftime('%Y-%m-%d'))
    
train.loc[:, 'created_at'] = train.created_at.apply(lambda x:
        datetime.datetime.fromtimestamp(
        x).strftime('%Y-%m-%d'))
    
train.loc[:, 'launched_at'] = train.launched_at.apply(lambda x:
        datetime.datetime.fromtimestamp(
        x).strftime('%Y-%m-%d'))

In [10]:
train.head(3)

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,backers_count,final_status
0,kkst1451568084,drawing for dollars,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,False,US,USD,2009-05-03,2009-05-03,2009-04-25,2009-04-25,3,1
1,kkst1474482071,Sponsor Dereck Blackburn (Lostwars) Artist in ...,"I, Dereck Blackburn will be taking upon an inc...",300.0,sponsor-dereck-blackburn-lostwars-artist-in-re...,False,US,USD,2009-05-16,2009-05-16,2009-04-29,2009-04-29,2,0
2,kkst183622197,Mr. Squiggles,So I saw darkpony's successfully funded drawin...,30.0,mr-squiggles,False,US,USD,2009-05-23,2009-05-23,2009-05-13,2009-05-13,0,0

## Analysis for funded and failed projects separately

In [11]:
funded = train.loc[train.final_status == 1, :]
failed = train.loc[train.final_status == 0, :]

### Funded Project Analysis

In [11]:
failed.describe(include='all')

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,backers_count,final_status
count,73568,73567,73560,7.356800e+04,73568,73568,73568,73568,7.356800e+04,7.356800e+04,7.356800e+04,7.356800e+04,73568.000000,73568.0
unique,73568,73405,73069,NaN,73568,2,11,9,NaN,NaN,NaN,NaN,NaN,NaN
top,kkst211982757,New EP/Music Development,The Decentralized Dance Party was founded on t...,NaN,sprocket-junkie,False,US,USD,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,7,16,NaN,1,73245,61460,61460,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,4.937259e+04,NaN,NaN,NaN,NaN,1.383850e+09,1.383710e+09,1.377738e+09,1.380829e+09,29.341534,0.0
std,NaN,NaN,NaN,1.177843e+06,NaN,NaN,NaN,NaN,4.241354e+07,4.236889e+07,4.257824e+07,4.267532e+07,116.488474,0.0
min,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,1.242429e+09,1.241574e+09,1.240335e+09,1.240976e+09,0.000000,0.0
25%,NaN,NaN,NaN,2.200000e+03,NaN,NaN,NaN,NaN,1.350925e+09,1.350868e+09,1.343832e+09,1.348024e+09,1.000000,0.0
50%,NaN,NaN,NaN,5.400000e+03,NaN,NaN,NaN,NaN,1.401996e+09,1.401908e+09,1.393789e+09,1.399286e+09,5.000000,0.0
75%,NaN,NaN,NaN,1.500000e+04,NaN,NaN,NaN,NaN,1.417804e+09,1.417633e+09,1.412042e+09,1.414791e+09,24.000000,0.0
max,NaN,NaN,NaN,1.000000e+08,NaN,NaN,NaN,NaN,1.433097e+09,1.433097e+09,1.432325e+09,1.432658e+09,8928.000000,0.0

In [12]:
funded.describe(include='all')

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,backers_count,final_status
count,34561,34561,34561,3.456100e+04,34561,34561,34561,34561,3.456100e+04,3.456100e+04,3.456100e+04,3.456100e+04,34561.000000,34561.0
unique,34561,34537,34492,NaN,34561,1,10,9,NaN,NaN,NaN,NaN,NaN,NaN
top,kkst1465581703,The Provider,Practically all of the original Dungeons & Dra...,NaN,dorian-c-video-dance-adaptation,False,US,USD,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,2,5,NaN,1,34561,30573,30573,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,9.806654e+03,NaN,NaN,NaN,NaN,1.372582e+09,1.372582e+09,1.366158e+09,1.369786e+09,323.981800,1.0
std,NaN,NaN,NaN,3.391402e+04,NaN,NaN,NaN,NaN,4.230189e+07,4.230183e+07,4.195699e+07,4.254756e+07,2060.207587,0.0
min,NaN,NaN,NaN,1.000000e-02,NaN,NaN,NaN,NaN,1.241334e+09,1.241334e+09,1.240601e+09,1.240603e+09,1.000000,1.0
25%,NaN,NaN,NaN,1.025000e+03,NaN,NaN,NaN,NaN,1.340068e+09,1.340068e+09,1.334069e+09,1.337323e+09,35.000000,1.0
50%,NaN,NaN,NaN,3.050000e+03,NaN,NaN,NaN,NaN,1.377792e+09,1.377792e+09,1.370225e+09,1.375193e+09,75.000000,1.0
75%,NaN,NaN,NaN,8.500000e+03,NaN,NaN,NaN,NaN,1.409243e+09,1.409243e+09,1.402740e+09,1.406601e+09,187.000000,1.0
max,NaN,NaN,NaN,2.000000e+06,NaN,NaN,NaN,NaN,1.433096e+09,1.433096e+09,1.432070e+09,1.432166e+09,219382.000000,1.0

Summary for funded:
  -- All the funded projects have disable_communication as False
  -- Mean of goal has a significant diffrenece between failed and funded.
  -- Most of the funded projects are from US(that we have to check as US also have most of the submissions.)